* {
    margin: 0;
    padding: 0;;
}

.border {
    border: 1px solid black;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo, .pieds {
    width: 90%;
    height: 10%;
}

.gros-flex {
    height: 75%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.moyenne {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divers {
    width: 13%;
    height: 100%;
}

.images {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: space-between;
    flex-wrap: wrap;
}

.infos {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image{
    width: 12%;
    height: 47%;
    margin-right: 2%;
}

.info {
    width: 28%;
    height: 100%;
}